In [1]:
import pandas as pd 
import numpy as np
import matplotlib as plt 
import seaborn as sea

In [2]:
df=pd.read_csv(r"customers.csv",encoding='unicode_escape')

In [3]:
df.shape

(773, 10)

In [4]:
df

,Customer ID,Name,Email,Phone Number,Street Address,City,State,Zip Code,Sales Rep,Subscription
0,1,Kathryn Williams,kathrynwilliams@samplemail.com,(550) 269-8345,6122 Debra Court,Stewartville,Hawaii,55169,Patricia Escobar,Standard
1,2,Maxwell Meza,maxwellmeza@samplemail.com,(712) 706-8059,740 Bean Station,Lake Aprilton,Maine,9073,Thomas Murray,Standard
2,3,Jamie Crawford,jamiecrawford@samplemail.com,(278) 738-1122,65114 Tracy Track Suite 604,South Sarahbury,North Dakota,51657,Amber Taylor,Plus
3,4,Raven Hernandez,ravenhernandez@samplemail.com,(376) 539-3142,45083 Cunningham Drive,Jasonstad,Hawaii,13042,Ashley Collins,Standard
4,5,Robert Brown,robertbrown@samplemail.com,(368) 263-0915,3965 Jay Ford,New Ann,New Hampshire,50080,Samantha Horton,Plus
...,...,...,...,...,...,...,...,...,...,...
768,769,Nancy Cole,nancycole@samplemail.com,(134) 653-8529,735 Sutton Square,Lake Meganville,Pennsylvania,47331,Ashley Collins,Plus
769,770,Samuel Barrett,samuelbarrett@samplemail.com,(289) 571-9595,53731 Fitzgerald Keys,South David,North Carolina,22817,Bradley Todd,Standard
770,771,Alex Hayes,alexhayes@samplemail.com,(123) 679-2096,313 Deborah Prairie,Port Joy,California,66171,Samantha Graham,Standard
771,772,Roberto Kennedy,robertokennedy@samplemail.com,(852) 816-8525,48959 Kim Field,South Emily,Texas,94465,Ashley Collins,Standard
772,773,Michael Cox,michaelcox@samplemail.com,(385) 590-1784,45192 Nguyen Shore Suite 070,New Wandaburgh,Louisiana,96407,Amber Horton,Standard

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer ID     773 non-null    int64
 1   Name            773 non-null    object
 2   Email           773 non-null    object
 3   Phone Number    773 non-null    object
 4   Street Address  773 non-null    object
 5   City            773 non-null    object
 6   State           773 non-null    object
 7   Zip Code        773 non-null    int64
 8   Sales Rep       773 non-null    object
 9   Subscription    773 non-null    object
dtypes: int64(2), object(8)
memory usage: 60.5+ KB

In [7]:
columns=['Name','City']
df.drop(columns,inplace=True,axis=1)

In [8]:
df.isnull().any()

Customer ID       False
Email             False
Phone Number      False
Street Address    False
State             False
Zip Code          False
Sales Rep         False
Subscription      False
dtype: bool

This  Dataset is already  clean